*{
	margin: 0;
	

	
 }
 
 h1{
  text-align: left;
 }
 p{
  font-size: 20px;
  position: relative;
  height: 50%;
  

  
  
  

 }

 body{
	 margin: auto;
 }

 
 head{
 
 font-family: 'Dokdo', cursive;
 font-size: 30px;
 padding: 20px;
 
 }
 .container{
	   margin-left: 120px;
		 width: 90%;
		 margin-top: 30px;
		 height: 100px;
		 
 }
 .box{
  width: 20%;
  float: left;
  padding: 7px;
  padding-left: 10px;  
  display: block;
  overflow: hidden;
  border-radius: 3px;
  text-align: center;
  

  
 
 }

 img{
  width: 100%;
  height: 150px;
	 border-radius: 4px;
	 position: relative;
	
 
 }
 
 img:hover{
   transform: scale(2,2);
   transition: .3s transform;
 
 }

 
 @media only screen and (max-width: 768px) {
       [class*="box"] {
		width: 15%;}
    
  
   p{
      width: 15%;
     
  
    }
    
	  }
  
  
  @media (min-width: 576px)  {
    [class*="box"] {
 width: 90%;}
  
 p {
   width: 25%;
   
  
   
  
 }
 
 }

  
  
  @media (min-width: 992px)  {
    [class*="box"] {
 width: 15%;}
  
 p{
   width: 50%;
  
  
  
 }
 
}


